@import url("https://fonts.googleapis.com/css2?familyplayfair+Disply:weight@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=plus+sans:wght@200;300;400;500;600;700;800&display=swap");

@import url(sections/header.css);
@import url(sections/hero.css);
@import url(sections/about.css);
@import url(sections/pupolar.css);
@import url(sections/trending.css);
@import url(sections/subscribe.css);
@import url(sections/footer.css);


:root{
--playfair-diplay: "playfair Display",serif;
--plus-jarta-sans: "plus jakarta sans",serif;
--playfair-diplay: "playfair Display",serif;
--playfair-diplay: "playfair Display",serif;
--playfair-diplay: "playfair Display",serif;
--playfair-diplay: "playfair Display",serif;
--playfair-diplay: "playfair Display",serif;
--playfair-diplay: "playfair Display",serif;
--playfair-diplay: "playfair Display",serif;
}






